@page
@model MyRazorPage.Pages.Account.ProfileModel
@{
}



<div id="content-left">
    <h3 style="font-weight: normal;">Welcome, @Model.Customer.ContactName</h3>
    <h3>Account Management</h3>
    <ul>
        <a asp-page="/account/profile">
        <li>Personal information</li></a>
    </ul>
    <h3>My order</h3>
    <ul>
        <a asp-page="/account/orders">
        <li>All orders</li></a>
        <a href="#">
        <li>Canceled order</li></a>
    </ul>
</div>
<div id="content-right">
    <div class="path">Personal information</b>
    </div>
    <form id="profile-content" method="post">
    <div class="content-main">
        <div id="profile-content">
            <div class="profile-content-col">
                Company name: <br />
                <input asp-for="Customer.CompanyName" type="text" /><br />
                Contact name: <br />
                <input asp-for="Customer.ContactName" type="text" />
                <div>
                    <input type="submit" value="Edit info" />
                </div>
                    <h3>@TempData["mess"]</h3>
            </div>
            <div class="profile-content-col">
                Contact title: <br />
                <input asp-for="Customer.ContactTitle" type="text" /><br />
                Address: <br />
                <input asp-for="Customer.Address" type="text" /><br />
            </div>
            <div class="profile-content-col">
                @if (HttpContext.Session.GetString("account") != null)
                {
                    var acc = JsonSerializer.Deserialize<MyRazorPage.Models.Account>(HttpContext.Session.GetString("account"));
                    <p>Email:</p>
                    <br />
                    <input name="Email" asp-for="@acc.Email" type="text" />
                }
            </div>
        </div>
    </div>
    </form>
</div>


