@page
@model MyRazorPage.Pages.Product.EditModel
@{
}

<h3>Edit product</h3>
<div id="content-right">
    <div class="path-admin">EDIT PRODUCT</b></div>
    <h4 style="color: orangered">@ViewData["msgUpdate"]</h4>
    <div class="content-main">     
        <form method="post" id="content-main-product">
            <input type="hidden" asp-for="Product.ProductId" id=""><br />
            <div class="content-main-1">
                <label>Product name (*):</label><br />
                <input  type="text" asp-for="Product.ProductName" id=""><br />
                <span asp-validation-for="Product.ProductName" class="msg-error"></span><br />
                <label>Unit price:</label><br />
                <input type="text" asp-for="Product.UnitPrice" id=""><br />
                <label>Quantity per unit:</label><br />
                <input type="text" asp-for="Product.QuantityPerUnit" id=""><br />
                <label>Units in stock (*):</label><br />
                <input required type="text" asp-for="Product.UnitsInStock" id=""><br />
                <span asp-validation-for="Product.UnitsInStock" class="msg-error"></span><br />
            </div>
            <div class="content-main-1">
                <label>Category (*):</label><br />
                <select asp-for="Product.CategoryId">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
                <br />
                <span class="msg-error"></span><br />
                <label>Reorder level:</label><br />
                <input asp-for="Product.ReorderLevel" type="text" disabled><br />
                <label>Units on order:</label><br />
                <input type="text" asp-for="Product.UnitsOnOrder" disabled><br />
                <label>Discontinued:</label><br />
                <input type="checkbox" asp-for="Product.Discontinued"><br />
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>